Repository google/cloud-forensics-utils, pull requests merged in 2021-06, with the labels that each got.

#313 Add e2e tests for GCP CLI tool
  libcloudforensics/errors.py
  tests/providers/gcp/e2e_cli.py
  tests/providers/gcp/gcp_cli.py
Labels: GCP, M, cla: yes

#317 Fixes for #315, #316
  libcloudforensics/providers/aws/forensics.py
  libcloudforensics/providers/aws/internal/ec2.py
  libcloudforensics/providers/azure/internal/compute.py
  libcloudforensics/providers/gcp/internal/compute.py
  libcloudforensics/scripts/forensics_packages_startup.sh
  libcloudforensics/scripts/forensics_packages_startup_aws.sh
  libcloudforensics/scripts/utils.py
  tests/providers/gcp/internal/test_compute.py
  tools/aws_cli.py
  tools/cli.py
Labels: AWS, cla: yes

#314 Add e2e tests for AWS CLI tool
  tests/providers/aws/aws_cli.py
  tests/providers/aws/e2e_cli.py
  tools/aws_cli.py
Labels: AWS, M, cla: yes

#318 Add e2e tests for Azure CLI tool
  tests/providers/azure/azure_cli.py
  tests/providers/azure/e2e_cli.py
  tools/az_cli.py
Labels: Azure, M, cla: yes

#320 Docs update
  docs/index.md
  docs/source/libcloudforensics.providers.aws.internal.rst
  docs/source/libcloudforensics.providers.gcp.internal.rst
  docs/source/libcloudforensics.scripts.rst
Labels: cla: yes
